.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.p-4 {
  padding: 16px;
}

.p-6 {
  padding: 24px;
}

.mb-4 {
  margin-bottom: 16px;
}

.overflow-hidden {
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-column {
  flex-direction: column;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden-if-empty {
  &:empty {
    display: none;
  }
}
