:root {
  --color-primary: #eef0f8;
  --color-secondary: #523f690d;
  --color-tertiary: #ebedf3;
  --color-accent: #2e8ff0;
  --color-accent-transparent: #2e8ff029;
  --color-dark: #3f4254;
  --color-light: #f3f6f9;
  --color-gray: #a4a4b5;
  --color-pink: #ef7da0;
  --color-green: #66bb6a;
  --color-green-transparent: #4caf505c;
  --color-pink-transparent: #ef7da05c;
  --color-background: #f4f5f8;
  --color-background-alt: #eff0f4;
  --color-white: #ffffff;
  --color-pink-shade: #f44682;
}
